/* Created by Mark Wirz, 20. November 2018, Copyright */

html{
    
}

body{
    background-position: center;
    background-attachment: fixed;
    background-image: url('https://wallpapershome.com/images/pages/pic_h/3945.jpg');
}    

#WelcomeUser{
    font-size: 40px; 
    font-family:sans-serif;
    font-style:italic;
    text-align:center;
}

/* Weather Search */

 #weather_change_form{
    font:200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: inherit;
    font-weight: lighter;
    background-color: #D3D3D3;
    background-blend-mode: lighten;
    padding: 10px;
    border-radius: 10%;
    width: 600px;
    height: 150px;
    
}

    #weather_info{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: inherit;
        font-weight: lighter;
    }

    #city_info{
        text-align: left;
        margin-left:120px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: inherit;
        font-weight: lighter;
        display:inline;
    }
    
    #country_info{
        text-align: left;
        margin-left:200px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: inherit;
        font-weight: lighter;
        display:inline;
    }

    #city_searchbar{
        margin-left:120px;
        width:100px;
    
    }
    
    #country_searchbar{
        margin-left:130px;
        width:100px;
    
    }

    #weather_search_button{
        margin-top: 10px;
        margin-left: 260px;
    }

/* Weather Output */

#weather_output{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #D3D3D3;
    background-blend-mode: lighten;
    padding: 10px;
    border-radius: 10%;
    width: 600px;
    height: 300px;
    margin-top: 120px;
}

    .weather_data{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: inherit;
        font-weight: lighter;
        margin-top: 30px;
    }

/* NameChange */

#name_changing_form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: inherit;
    font-weight: lighter;
    background-color: #D3D3D3;
    background-blend-mode: lighten;
    padding: 10px;
    border-radius: 10%;
    width: 300px;

}


/* Responsive Design */

@media screen and  (max-width:300px) {
    #name_changing_form{
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 300px) {

    #WelcomeUser{
        top: 5%;
        left: 40%;
        position: absolute;
    }

    #weather_change_form{
        left: 25%;
        right: 25%;
        top: 20%;
        position: absolute;
    }

    #weather_output{
        left:25%;
        top:30%;
        position:absolute;
    }


    #name_changing_form{
        left: 2%;
        position: absolute;
        top: 2%;
    }

    #weather_city_name{
        top: 2%;
    }

    #weather_humidity{
        bottom: 5%;
    }
}